%section.sign_in
  = form_tag :user_sign_in do
    %h1
      Sign In
      - if flash[:alert]
        %span.alert= "#{right_arrow} #{flash[:alert]}".html_safe
    %fieldset
      %dl
        %dt= label_tag :email_or_username, 'email or username'
        %dd= text_field_tag :email_or_username, params[:email_or_username]
        %dt= label_tag :password, 'password'
        %dd= password_field_tag :password, params[:password]
    %fieldset
      %input{type: 'submit', value: 'sign in'}
      = link_to 'sign up', :sign_up
