%section.about
  :markdown
    - Tree Finger is a project and task manager
    - Made for people who hate using project and task managers
    - That uses a simple typing syntax to manage tasks items
    - So you can add and edit your tasks very quickly
    - And remember them without worrying
    - Sign up for free. See what I mean
%section.sign_up
  = form_for user, url: :user_sign_up do |form|
    %h1 Sign Up
    %fieldset
      %dl
        %dt= form.label :email, 'email'
        %dd= form.email_field     :email
        %dt= form.label :username, 'username (optional)'
        %dd= form.text_field      :username
        %dt= form.label :password, 'password'
        %dd= form.password_field  :password
        %dt= form.label :password_confirmation, 'password confirmation'
        %dd= form.password_field  :password_confirmation
    %fieldset
      = form.submit 'sign up'
      = link_to 'sign in', :sign_in
