%section#task_list
  %ul
    - tasks.each do |task|
      %li(data-task_description= "#{task.description}" data-task_name= "#{task.name}")
        .actions
          = link_to "\u2713 complete", complete_project_task_path(project, task), class: 'complete' unless task.completed?
        .delete= link_to "x", project_task_path(project, task), method: :delete, class: 'delete'
        %strong.task_name= link_to task_name(task), '#'
%section#task_form
  = form_tag :projects do
    = hidden_field_tag 'id', project_id
    %fieldset.actions
      - if project.present?
        %nav.status
          = active_link('incomplete', incomplete_project_path(project), /^incomplete|show|dashboard/)
          |
          = active_link('complete', complete_project_path(project), /^complete/)
          |
          = active_link('all', all_project_path(project), /all/)
      %input{ type: 'reset'}
      = submit_tag 'save tasks'
    %fieldset.fields
      = text_area_tag :projects
    %fieldset.actions
      = submit_tag 'save tasks'
      %input{ type: 'reset', value: "clear tasks" }
= render partial: 'layouts/placeholder'
