%section.sign_in
  = form_tag :user_sign_in do
    %h1
      Sign In
      - if flash[:alert]
        %span.alert= "#{right_arrow} #{flash[:alert]}".html_safe
    %fieldset
      %dl
        %dt= label_tag :email_or_username, 'email or username'
        %dd= text_field_tag :email_or_username, params[:email_or_username]
        %dt= label_tag :password, 'password'
        %dd= password_field_tag :password, params[:password]
    %fieldset
      %input{type: 'submit', value: 'sign in'}

%section.about
  :markdown
    - Tree Finger is a project and task manager
    - Made for people who hate using project and task managers
    - That uses a simple typing syntax to manage tasks items
      - It's just indenting (that thing you learned in elementary school)
    - Then you can add and edit your tasks and descriptions very quickly
    - So managing your workflow doesn't get in the way of your workflow
    - And ride ponies with the time you've saved
    - Hell yeah! Ponies!

%section.sign_up
  = form_for user, url: :user_sign_up do |form|
    %h1 Sign Up
    %fieldset
      %dl
        %dt= form.label :email, 'email'
        %dd= form.email_field     :email
        %dt= form.label :username, 'username (optional)'
        %dd= form.text_field      :username
        %dt= form.label :password, 'password'
        %dd= form.password_field  :password
        %dt= form.label :password_confirmation, 'password confirmation'
        %dd= form.password_field  :password_confirmation
    %fieldset
      = form.submit 'sign up'

