!!!
%html
  %head
    %title Tree Finger
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      %nav.settings
        - if current_user.present?
          = link_to 'sign out', :sign_out
        - else
          = link_to 'sign in', :sign_in
      %h1
        Tree Finger
        ="\u27BF"
    %section.content
      = yield
