!!!
%html
  %head
    %title Tree Finger
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      %nav.settings
        = link_to 'sign out', :sign_out
      %h1
        = link_to 'Tree Finger', root_path
        = "\u27BF" if projects.present?
      - if projects.present?
        %nav.projects
          - projects.each do |project|
            = link_to project.name
            |
    %section.content
      = yield
