!!!
%html
  %head
    %title Tree Finger
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      %nav.settings
        = link_to 'sign in', :sign_in
      %h1
        Tree Finger
    %section.content
      = yield
